*/settings/local.py
temp/
*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.db
db/*
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
static/*
config/
.idea/
venv/
.env
cache/
db.sqlite3
build/
dist/
images/
*.html